.content {
	width: 250px;
	text-align: center;
	margin-top: 30%;
	margin-left: 15px;
	color: black;
	font-family: 'Iceland';
	background: rgba(210, 210, 255, 0.295);
	border-radius: 10px;
	padding: 1em 0;
	clip-path: polygon(
		20% 0%,
		80% 0%,
		100% 20%,
		100% 80%,
		80% 100%,
		20% 100%,
		0% 80%,
		0% 20%
	);
	h3 {
		font-size: 2rem;
		color: white;
		text-shadow: 0 0 5px blue;
	}
	p {
		font-size: 1rem;
		font-weight: 700;
		margin: 1em 0;
	}
	a {
		margin-right: 20px;
		font-size: 1.1rem;
		color: navy;
	}
}
