.title {
	width: 100%;
	background: url('../../../public/broken.jpg') no-repeat center top;
	background-size: contain;
	z-index: 9;
	text-align: center;
	font-size: 3.3rem;
	padding: 0.2em 0 0.4em 0;
	text-transform: uppercase;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.123);

	word-wrap: break-word;
	font-family: 'Quantum';
	letter-spacing: 15px;
}

.container {
	background: linear-gradient(to top, #311a6e, #789ec4, #fff);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: visible;
	position: relative;
	z-index: 5;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		79% 97%,
		56% 100%,
		37% 98%,
		16% 100%,
		0 96%
	);
	// &:after {
	// 	position: absolute;
	// 	content: '';
	// 	width: 25%;
	// 	height: 50%;
	// 	top: 35%;
	// 	left: 30%;
	// 	clip-path: polygon(
	// 		0% 0%,
	// 		0% 100%,
	// 		25% 100%,
	// 		25% 25%,
	// 		75% 25%,
	// 		75% 75%,
	// 		25% 75%,
	// 		25% 100%,
	// 		100% 100%,
	// 		100% 0%
	// 	);
	// 	background: linear-gradient(to bottom, #03001e, #7303c0, #fdeff9);
	// }
}
