.header-intro{
    height: 90vh;
    .header-card {
        // margin-top: 90px;
        width: 90%;
        display: grid;
        height: 85vh;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 90vw;
        justify-content: center;
        align-content: space-evenly; 
        @media only screen and (min-width: 920px) {
            grid-template-rows: 80vh;
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;
            align-content: center; 
        }              
    }
   

    .logo-container {
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: 920px) {
            min-width: 200px;
            height: 80vh;
            align-items: flex-start;
            

        }    
        .v4-logo {
            width: 75px;
            height: 75px;
            border: none;
            border-radius: 5px;
            box-shadow: none;
            transform: rotate(45deg);
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (min-width: 920px) {
                margin-top: 30px;
                width: 100px;
                height: 100px;
            }
            .logo-text {
                letter-spacing: 20px;
                font-size: 20px;
                margin-left: 6px;
                margin-bottom: 20px;
                color: blue;
                text-shadow: 0px 0px 3px rgba(3, 1, 8, 0.445),
                0px 0px 3px rgba(15, 4, 41, 0.473) ; 
                @media only screen and (min-width: 920px) {
                    font-size: 30px;
                    margin-bottom: 25px;
                }

            }
        }
        
    }
    .title-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        min-height: 180px;
        @media only screen and (min-width: 920px) {
            align-items: flex-start;
            text-align: left;
            justify-content: center;
        }
        .header-text {
            width: 100%;
            font-size: 2.2rem;
            font-weight: 900;
            text-transform: uppercase;
            color: transparent;  
            background-clip: text;
            font-family: "Anurati";
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-left: 15px;
            @media only screen and (min-width: 400px) and (max-width: 919px) {
                font-size: 2.5rem;
                margin-left: 0;
                letter-spacing: 5px;
            }   
            @media only screen and (min-width: 920px) and (max-width: 1100px) {
                font-size: 2.5rem;  
            }
            @media only screen and (min-width: 1101px) {
                font-size: 3rem;
                letter-spacing: 10px;
                margin-left: 0;
            }
            
        }
        .explore-button {
            @media only screen and (min-width: 920px) {
                margin-top: 50px; 
            }  
        }
        
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: 920px) {
            align-items: flex-end; 
            // width: 300px;
        }
        img {
            width: 15rem;
            height: auto;
            // max-width: 270px;
            // min-width: 200px;
            @media only screen and (min-width: 400px) and (max-width: 919px) {
                width: 15rem;
                margin-bottom: 20px; 
            } 
            @media (min-width: 920px) and (max-width: 1199px) {
                width: 12rem;
                margin: 0 25px 15px 0; 
            }
            @media only screen and (min-width: 1200px) {
                width: 15rem;
                margin: 0 25px 15px 0; 
            }
        }
    }
    
    
}