.header-intro-container {
    width: 100%;
    border: 1px solid black;

    height: 100vh;
    background: #E4EBF5;
    // margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .header-card {
        height: 80vh;
        margin-top: 90px;
        width: 95%;
        // border: 1px solid black;
        // padding: 1.5em;
        display: grid;
        grid-template-rows: 80vh;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
        align-content: center;

        box-shadow: 7px 7px 10px #bec8e4, -7px -7px 10px #ffffff;
        border-radius: 10px;
                        
    }
    // div{
    //     border: 1px solid red;
    // }
    .logo-container {
        width: 300px;
        display: flex;
        justify-content: center;
        .v4-logo {
            margin-top: 50px;
        }
    }
    .title-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        .header-text {
            width: 100%;
            font-size: 3em;
            font-weight: 900;
            text-transform: uppercase;
            background-color: #26195e;
            color: transparent;
            text-shadow: 0px 2px 5px rgba(255,255,255,0.7);
            background-clip: text;
            font-family: "Anurati";
            letter-spacing: 10px;
            text-transform: uppercase;
            // @media (min-width: 768px) {
            //     width: 80%;
            //     font-size: 3.3em;
            // }
            
        }
        .explore-button {
            margin-top: 50px;     
        }
        
    }
    .img-container {
        display: flex;
        align-items: flex-end;
        img {
            width: 400px;
            height: auto;
            max-width: 270px;
            min-width: 200px;
            margin-top: 0;
            @media (min-width: 968px) {
                max-width: 450px;
                min-width: 100px;
                margin-top: 100px;
            }
        }
    }
    
    
}