
.v4-navbar {
    // background: #E4EBF5;
    width: 100% !important;
    border-radius: 0px !important;
    height: 90px;
    // position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    
    .v4-nav-container {
        background: inherit;
        width: 90%;
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }
    .rotate-up {
        transition: all 0.3s;
        transform: rotate(180deg);
    }
    .rotate-down {
        transition: all 0.3s;
    }
    .v4-theme-change {
        ._3lLt8 {
            font-size: 25px; 
        }

    }
    h1 {
        font-size: 3em;
        font-weight: 100;
        text-transform: uppercase;
        font-family: "Gone";
        letter-spacing: 15px;
    }
    .style-change {
        position: relative;
        
        .style-change-menu {
            cursor:default; 
            position: absolute;
            top: 55px;
            left:-40px;
            text-transform: capitalize;
            text-align: left;
        }
        ul {
            list-style: none;
            padding: 10px 0;
            li {
                cursor: pointer;
                padding: 10px 15px;
                a {
                    text-decoration: none;
                }
            }
            .first-draft {
                color: gray;
            }

        }
    }
}