
// divider style
._1RYKi {
    border-radius: 0px !important;
}
// card style override
// ._28vIk {
//     // width: 100% !important;
//     // border-radius: 0px !important;
// }




// button container class
._cL4RU{
    transition: box-shadow 0s ease !important; 
    // padding: 0 !important;
    // height: 0px !important;
    &:active {
        color: black !important; 
                
    }
    // button inside container
    ._3lLt8 {
        text-transform: none !important;
        // font-size: rem !important;
        // padding: 0.5em 1em !important;     
    } 
}
// heading class styles 

.dark-emboss {
    color: #292E35;
    text-shadow:-3px -3px 5px #313740 , 3px 3px 5px#21252a;

    
}
.light-emboss {
    color: #E4EBF5;
    text-shadow:-3px -3px 5px #fff, 3px 3px 5px #bec8e4 ;


}
@mixin heading-engrave-styles {
    color: transparent;  
    background-clip: text;
    font-family: "Anurati";
    letter-spacing: 5px;
    text-transform: uppercase;
}
.dark-h-e {
    background-color: #080611;
    text-shadow: 0px 2px 5px rgba(70, 14, 143, 0.7);
    @include heading-engrave-styles;

}
.light-h-e {
    background-color: #26195e;
    text-shadow: 0px 2px 5px rgba(255,255,255,0.7);
    @include heading-engrave-styles;

}


.v4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    border-radius: 0px !important;

}
// styles for section card-containers
// .card-container-up {
//     width: 90% !important;
//     box-shadow: 7px 7px 10px #bec8e4, -7px -7px 10px #ffffff;
//     border-radius: 10px;
// }
// .card-container-down {
//     width: 90%;
//     box-shadow: inset 7px 7px 10px #bec8e4, inset -7px -7px 10px #ffffff;
//     border-radius: 10px; 
// }
.v4-divider{
    width: 100%;
}
// engrave on hover
.dark-engrave {
    &:hover {
        border-radius: 5px;
        box-shadow: inset -3px -3px 5px #313740,
            inset 3px 3px 5px#21252a !important; 
    }
    
}
.light-engrave {
    &:hover {
        border-radius: 5px;
        box-shadow: inset -3px -3px 5px #fff, 
            inset 3px 3px 5px #bec8e4 !important;
    }
}
// standard engrave
.dark-active {
    box-shadow: inset -3px -3px 5px #313740,
            inset 3px 3px 5px#21252a !important;
}
.light-active {
    box-shadow: inset -3px -3px 5px #fff, 
            inset 3px 3px 5px #bec8e4 !important
}
// .neumorphism-btn