

.about-content {
  display: flex; 
  flex-direction: column;
  align-items: center;
  
  .about-code {
    margin: 30px 0;
    // margin-left: 50px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: left;
    font-size: 1.2em;
    color: rgb(5, 228, 105);
    font-weight: 500;
    font-family: "Iceland";
    p {
      margin: 0;
      span {
       color: navy;
       font-weight: 600;
      }
    }
  }
  button {
    color: navy;
    margin: 5px 0;
    padding: 9px 13px;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 700;
    background: rgba(18, 72 ,92,  0.38);
    border: none;
    font-family: "Iceland";
    cursor: pointer;
    &:hover {
      color: white;
      background: rgba(18, 72 ,92,  1);
    }
    svg {
        margin-right: 10px;
    }

  }
  .about-info {
    text-align: center;
    font-size: 0.9em;
    
    background-color: rgb(18, 72, 92, 0.38);
    padding: 25px 15px;
    color: white;
    border-radius: 10px;
    font-family: "RussoOne";
    max-width: 700px;
    span {
      color: navy ; 
      a {
        color: navy;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }
  }
  h3 {
    color: navy;
    font-family: "Quantum";
    font-size: 1.4em;
  }
  .about-skills-container {
    margin-top: 30px;
    width: 100%;
    max-width: 350px;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, minmax(80px, 200px));
    @media (max-width: 300px) {

      grid-template-columns: repeat(1, minmax(80px, 120px));
    }
    @media (min-width: 960px) {
      width: 100%;
      max-width: 850px;
      grid-template-columns: repeat(4, minmax(130px, 200px));
    }
    
    
  }
  
  .skills-card {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18, 72, 92, 0.38);
    border-radius: 0.25em;
    transition: 0.5s;
    &:hover {
      // width: 27%;
      // height: 260px;
      transform: scale(1.08);
    }
    @media (min-width: 373px) {
      height: 180px;
      
    }
    @media (min-width: 850px) {
      height: 250px;
      
    }
    
    svg {
      color: red;
    }
    strong {
      color: white;
      text-transform: uppercase;
      font-size: 0.9em;
      font-family: "Quantum";

    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      // color: rgb(33, 25, 61);
      font-size: 1em;
      text-align: center;
      font-family: "Iceland";
    }
  }
  .skills-card::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: red;
  }
  .skills-card:hover {
    background-color: rgb(18, 72, 92, 1);
  }
  .skills-card:hover::before {
    transition: 0.6s;
    width: 100%;
  }
  
}