
.about-bg {
  // background: linear-gradient(0deg, rgba(145,145,254,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
}
.about-content {
  color: white;
  display: flex; 
  flex-direction: column;
  align-items: center;
  
  .about-code {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1em;
    color: rgb(6, 167, 6);
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Iceland";
    p {
      margin: 0;
      span {
       color: navy;
      }
    }
  }
  button {
    color: navy;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 700;
    background: rgb(18 72 92 / 38%);
    border: none;
    &:hover {
      color: white;
    }
    svg {
        margin-right: 10px;
    }

  }
  .about-info {
    text-align: center;
    font-size: 0.8em;
    background-color: rgb(18 72 92 / 38%);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-family: "RussoOne";
    max-width: 700px;
    span {
      color: navy ; 
      a {
        color: navy;
        &:hover {
          color: black;
        }
      }
    }
  }
  h3 {
    color: navy;
    margin: 0;
    font-family: "Quantum"
  }
  .about-skills {
    margin-top: 30px;
    width: 100%;
    // max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 950px) {
      width: 100%;
      max-width: 925px;
    }
    
  }
  .skills-container{
    // margin: 0 10px;
    width: 100%; 
    display: flex;
    justify-content: center;
    margin: 15px 0;
    @media (min-width: 950px) {
      width: 50%;
    }
  }
  .skills-card {
    width: 50%;
    height: 150px;
    max-width: 240px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18 72 92 / 38%);
    border-radius: 0.25em;
    @media (min-width: 350px) and (max-width: 950px) {
      height: 210px;
      width: 43%;
      
    }
    @media (min-width: 950px) {
      height: 250px;
      width: 23%;
      min-width: 200px;
    }
    svg {
      color: red;
    }
    strong {
      color: white;
      text-transform: uppercase;
      font-size: 0.8em;
      font-family: "Quantum"

    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        color: rgb(33, 25, 61);
        font-size: 1em;
        text-align: center;
        font-family: "Iceland";
      }
  }
  
  
}