#afterSubmit {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @keyframes scale-up-center {
    0% {

      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}


.float {
  animation: float 6s ease-in-out infinite;
  animation-delay: -1.5s;
  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-20px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }
}
.heartbeat {
 animation: heartbeat 2s ease-in-out infinite both;
}


@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.flicker-in-glow {
  animation: flicker-in-glow 4s linear both;
  @keyframes flicker-in-glow {
    0% {
      box-shadow: none;
      color: gray;
    }
    10% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    10.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    10.2% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    20% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    20.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    20.6% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    30% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    30.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    30.5% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    30.6% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    45% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    45.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    50% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    55% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    55.1% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    57% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    57.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    60% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    60.1% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    65% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    65.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    75% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    75.1% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    77% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    77.1% {
    box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    85% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
    85.1% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    86% {
      box-shadow: none;
      text-shadow: none;
      color: gray;
    }
    86.1% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }  
    100% {
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
      text-shadow: 0 0 15px blue;
      color: white;
    }
  }
}