*, *:before, *:after {
  box-sizing: border-box; 
}

html {
  font-size: 100%;
  transition: font-size 0.2s linear;
  // scroll-behavior: smooth; 
  @media (min-width: 500px) and (max-width: 792px) {
    font-size: 110%;
  }
  @media (min-width: 793px) and (max-width:992px) {
    font-size: 125%;
  }
  @media (min-width: 993px) {
    font-size: 140%;
  }
}
@font-face {
  font-family: 'Iceland';
  src: url("../../public/assets/fonts/Iceland-Regular.ttf");
}
@font-face {
  font-family: 'RussoOne';
  src: url("../../public/assets/fonts/RussoOne-Regular.ttf");
}

body {
  background-image: url("../../public/assets/header.webp");
  background-size: 100% 30%;
  background-position: left top;
  background-repeat: no-repeat;
  
}






.bg0, .bg1, .bg2, .bg3{
  // z-index: 999;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
  color: lightgrey;
  &:hover {
    filter: grayscale(0);
  }
}

.nav_section {
  display: flex;
  .is-active{
    background: rgb(15, 15, 15);
    border-radius: 5px;
  }
  #scrolling {
    border-bottom: 2px solid white;
    background: rgb(4, 4, 65);
  } 
  .navbar {
    height: 55px;
    font-family: 'Iceland', cursive;
    font-size: 1.3em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 1px 0px;
    @media (min-width: 400px) {
      padding: 8px 16px;
      
    
    }
    .collapse {
      @media (min-width: 767px) {
        display: block !important;
      }
    }
    .nav-item {
      margin: 0 5px;
      padding: 0 5px;
      display: flex;
      align-items: center;
      &:hover{
        color: white;
        svg {
          color: white;
        }
      }
      svg {
        color: #007bff;
        font-size: 0.8em;
        margin-right: 5px;
        
      }
      .nav-link {
        padding: 0;
        &:hover{
          color: white;
        }
      } 
     
      @media (min-width: 770px){ 
        padding: 0 10px;
        svg {
          margin-right: 10px;
        }
      }
    }
    
    
  }
  .logo {
    height: 40px;
    width: 80px;
    display: none;
    // margin: 17px 50px 0 0;
    @media (min-width: 550px) {
      display: block;
    }
  }
}


header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3 {
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 3.4em;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Iceland', cursive;
    text-align: center;
    text-shadow: 0 0 10px #eeff03;
  }  
}
    
.sectionTitle {
  text-align: center;
  font-size: 2.5em;
  color: transparent !important;
  text-transform: uppercase;
  font-family: 'RussoOne';
  background: linear-gradient(to right, #1a2980, #26d0ce);
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
} 



// projects styles
.project {
  h1 {
    font-family: 'Iceland', cursive;
    font-weight: 700;
    font-size: 2.2em;
    color: white;
    text-shadow: 0 0 15px blue;
  }
}
.appImage {
  width: auto;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 2%;
  @media (min-width: 370px) and (max-width: 576px) {
    height: 200px;
  }
  @media (min-width: 576px) and (max-width:768px) {
    height: 300px;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    height: 350px;
  }
  @media (min-width: 993px) {
    height: 350px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  color: white;
  text-shadow: 0 0 15px blue;
  text-align: center;
  
}
.iconLinks {
  margin-top: 10px;
  a {
    margin: 15px;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}


// Contact + footer
.contact {
  min-height: 80vh;
  strong {
    margin: 20px 0;
    color: white;
    font-size: 1em;
  }
  .iconContact {
    font-size: 18px;
    margin-bottom: 10px;
    color: blue;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
    a {
      color: blue;
      font-size: 1.3em;
      margin-left: 20px;
      &:hover {
        color: white;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  .date {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
    p {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
  
}

::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  //border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: linear-gradient(to bottom, #373b44, #4286f4);
}




