*, *:before, *:after {
  box-sizing: border-box; 
}

html {
  font-size: 90%;
  transition: font-size 0.2s linear;
  // scroll-behavior: smooth; 
  
  @media (min-width: 500px) and (max-width: 792px) {
    font-size: 110%;
  }
  @media (min-width: 793px) and (max-width:992px) {
    font-size: 125%;
  }
  @media (min-width: 993px) {
    font-size: 140%;
  }
  @media (min-width: 1500px) {
    font-size: 160%;
  }
  font-family: "Iceland";
}
@font-face {
  font-family: 'Iceland';
  src: url("../../public/assets/fonts/Iceland-Regular.ttf");
}
@font-face {
  font-family: 'RussoOne';
  src: url("../../public/assets/fonts/RussoOne-Regular.ttf");
}
@font-face {
  font-family: 'Quantum';
  src: url("../../public/assets/fonts/Quantum.otf");
}
@font-face {
  font-family: 'Anurati';
  src: url("../../public/assets/fonts/Anurati-Regular.otf");
}



header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  
}
.nav_section {
  display: flex;
  justify-content: center;
  width: 100%;
  .is-active{
      border-radius: 5px;
    }
    #scrolling {
      border-bottom: 2px solid black;
    } 
  .navbar {
    position: fixed;
    z-index: 999;
    height: 55px;
    width: 100%;
    // max-width: 1500px;
    font-family: 'Iceland';
    font-size: 1.3em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    @media (min-width: 400px) {
      padding: 8px 16px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    .nav-item {
      padding: 7px 5px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      @media (min-width: 770px){ 
        padding: 8px 15px;
        margin-right: 5px;
        svg {
          margin-right: 7px;
        }
      }
      
      svg {
        font-size: 0.8em;
        margin-right: 5px;
        display: none;
        @media (min-width: 400px) {
          display: block;
        }
      }
      .nav-link  {
        font-weight: bold;
        text-decoration: none;
       
      }
      
    }
    
    
  }
  
}

.header-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 7px;
  @media (min-width: 968px) {
    min-height: 85vh;
  }
  .text-container {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (min-width: 968px) {
      width: 50%;
      min-height: 500px;
      justify-content: space-between;
      text-align: left;
    }
    .header-text {
      width: 100%;
      font-weight: 700;
      font-size: 3em;
      font-family: 'Quantum', cursive;
      text-shadow: 0 0 5px #1900fd;
      line-height: 80px;
      letter-spacing: 3px;
      @media (min-width: 768px) {
        width: 80%;
        font-size: 3.3em;
      }
    } 
    .text-by {
      margin-bottom: 50px;
      // margin-left: 265px;
      font-weight: bold; 
      font-family: "Iceland";
      color: gray;  
      display: none; 
    }
    .logo {
      margin-top: 20px;
      color: white;
      text-shadow: 0 0 7px blue;
      box-shadow: 0px 0px 62px -4px rgb(30, 26, 216);
    }
  }
  img {
    width: 400px;
    height: auto;
    max-width: 270px;
    min-width: 200px;
    margin-top: 0;
    @media (min-width: 968px) {
      max-width: 450px;
      min-width: 100px;
      margin-top: 100px;
    }
  }
}



.section-title {
  text-align: center;
  font-size: 2.5em;
  color: transparent !important;
  text-transform: uppercase;
  font-family: 'Quantum';
  background: linear-gradient(to right, #0028b8,#011661, #05012c);
  background-clip: text;
  margin: 0 0 10px 0;
} 
// Projects section title
#projects > div:nth-child(1) > div > div > h2 {
  margin-bottom: 50px;
}
.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.5em;
    position: relative;
    h1 {
      margin-bottom: 40px;
    }
  }

// projects styles

.project {
  
  h3 {
    font-family: 'Iceland', cursive;
    font-weight: 700;
    font-size: 2.4em;
    margin: 0 0 30px 0;
  }
}

.project-image {
  width: auto;
  border-radius: 2%;
  height: 150px;
  transition: 0.4s;
  @media (min-width: 370px) and (max-width: 576px) {
    height: 200px;
   
  }
  @media (min-width: 576px) and (max-width:768px) {
    height: 300px;
    
  }
  @media (min-width: 769px) and (max-width: 992px) {
    height: 350px;
  
  }
  @media (min-width: 993px) {
    height: 350px;
  }
}
.description {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  p {
    color: rgb(11, 11, 104);
    // text-shadow: 0 0 5px black;
    font-weight: bold;
    font-family: "Iceland";
    margin: 0;
  }
  strong {
    font-size: 1em;
    color: black;
    text-shadow: 0 0 3px blue;
    text-align: center;
    font-family: "Quantum";
  }
}
.project-links {
  
  font-family: "Iceland";
  display: flex;
  align-items: center;
  justify-content: center;
 
  #demo {
    margin-right: 15px;
    background-color: white;
    &:hover {
      background-color: rgba(18, 72, 92, 1);
      color: white;
    }
  }
  a {
    color: blue;
    background-color: rgba(18, 72, 92, 0.38);
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: rgba(18, 72, 92, 1);
      text-decoration: none;
    }
    svg {
      margin-right: 5px;
    }
  }
}




::-webkit-scrollbar {
  width: 8px;
  background-color: black;
  
}

::-webkit-scrollbar-thumb {
  background: navy;
  border-radius: 10px;
}




