// Contact + footer
.contact {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1024px;
    @media (max-width: 767px) {
      flex-direction: column;
    }

  }
  
  .form-container {
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 300px; 
    height: 300px;
    margin-top: 30px; 
  }
  .form-info {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: white;
    font-family: "Iceland";
  
  }
  .contact-form {
    width: 320px;
    height: 300px !important;
    font-family: "Iceland";
    @media (max-width: 360px) {
        width: 270px;
      }
    .form-group {
      padding: 0;
      input {
        font-size: .7em;
        height: 30px !important;
      }
      textarea {
        font-size: .7em;
        height: 80px;
      }
    }
    .btn {
      font-size: 0.7em;
    }
    #afterSubmit {
      text-align: center;
      font-size: 0.7em;
      color: white;
      background: blue;
      padding: 5px;
      border-radius: 5px;
      width: 40%;
      margin: 0 30%;
    }
  }
  
  .links-container {
    // border: 1px solid white;
    width: 50%; 
    min-width: 300px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid rgb(14, 50, 230);
    margin-top: 30px;
    @media (min-width: 767px) {
      border-top: none;
      border-left: 3px solid rgb(14, 50, 230);
      margin-top: none !important;
    }
  }
  .links-info {
    // margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: "Iceland";
  }
  .links {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
   
    a {
      // max-width: 95vw;  
      background-color: rgb(85, 58, 58);
      height: 40px;
      width: 330px;
      color: white;
      font-size: 1.1em;
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 0.25em;
      font-family: "Iceland";
      @media (max-width: 360px) {
        width: 270px;
      }
      &:hover {
        color: blue;
        text-decoration: none;
      }
      img {
        width: 50px;
        height: 30px;
        margin: 0 15px;
      }
    }
  }
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // height: 160px; 
  
  .date {
    display: flex;
    align-items: center;
    color: gray;
    font-family: "Quantum";
     margin-top: 20px;
    p {
      margin-right: 5px;
      margin-bottom: 0;
     
    }
  }
  .footerLogo {
    width: 100px;
    height: 100px;
    border-top: 7px solid navy;
    border-left: 7px solid navy;
    border-right: 7px solid lightblue;
    border-bottom: 7px solid lightblue;
    margin-top: 0;
    .logo-text {
      font-size: 25px;
    }
  }
  
}

// .modal-content {
//   background-image: url("../../public/assets/contact.webp");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   color: white;
//   border: 2px solid navy;
//   .modal-header {
//     border: none;
    
//     h5 {
//       font-size: 35px;  
//     }
//   }
//   .modal-body {
//     padding: 2vmax;

//   }
//   .close {
//     color: white;
//     outline: none;
//   }
//   h5 {
//     font-weight: bold;
//     color: white;
//     text-shadow: 0 0 5px blue;
//   }
//   ol {
//     padding: 10px;
//     li {
//       padding: 10px;
//     }
//   }
// }

