// Contact + footer
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%; 
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1024px;
    @media (max-width: 767px) {
      flex-direction: column;
    }

  }
  
  .form-container {
    // border: 1px solid white;
    display: flex;
    min-width: 300px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 300px; 
    margin-top: 30px;
    
  }
  .form-info {
    font-size: 1.1em;
    text-align: center;
    font-family: "Iceland";
  
  }
  form {
    width: 300px;
    height: 234px ;
    font-family: "Iceland";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 360px) {
      width: 270px;
    }
    input {
      font-family: "Iceland";
      color: navy;
      font-size: 1em;
      height: 35px;
      border: 2px solid lightblue;
      border-radius: 5px;
      padding-left: 10px;
      color: navy;
      border: 2px solid rgb(120, 120, 248);
      outline: none;
      &:focus {
        box-shadow: 0px 0px 6px 0px rgba(253, 0, 0, 0.95);
      }
    }
    textarea {
      font-size: 1em;
      height: 80px;
      resize: none;
      width: 300px;
      border-radius: 5px;
      padding-left: 10px;
      color: navy;
      border: 2px solid rgb(120, 120, 248);
      outline: none;
      &:focus {
        box-shadow: 0px 0px 6px 0px rgba(253, 0, 0, 0.95);
      }
      @media (max-width: 360px) {
        width: 270px;
      }
    }
    .btn {
      font-size: 1em;
      font-family: "Iceland";
      font-weight: 600;
      background: rgb(0, 191, 255);
      color: navy;
      padding: 5px 0;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      &:hover {
        color: white;
        background: navy;
      }
      &:focus {
        color: red;
      }
      &:disabled {
        background: lightblue;
        color: gray;
      }
    }
    #afterSubmit {
      text-align: center;
      font-size: 1em;
      color: navy;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      margin: 0;
    }
  }
  
  .links-container {
    // border: 1px solid white;
    width: 50%; 
    min-width: 300px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid rgb(146, 161, 235);
    margin-top: 30px;
    @media (min-width: 767px) {
      border-top: none;
      border-left: 3px solid rgb(128, 146, 240);
      margin-top: none !important;
    }
  }
  .links-info {
    // margin-top: 10px;
    text-align: center;
    color: navy;
    font-size: 1.1em;
    font-family: "Iceland";
  }
  .links {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
   
    a {
      // max-width: 95vw;  
      background: rgba(18, 72, 92, 0.38);
      height: 40px;
      width: 300px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 0.25em;
      font-family: "Iceland";
      text-decoration: none;
      @media (max-width: 360px) {
        width: 270px;
      }
      &:hover {
  
        text-decoration: none;
        background: rgba(18, 72, 92, 1  );
      }
    
      img {
        width: 50px;
        height: 30px;
        margin: 0 25px;
      }
    }
  }
}

footer {
  .footer-logo {
    width: 80px;
    height: 80px;
    border-top: 5px solid navy;
    border-left: 5px solid navy;
    border-right: 5px solid lightblue;
    border-bottom: 5px solid lightblue;
    margin-top: 0;
    margin: 10px 0;
    .logo-text {
      color: white;
      font-size: 20px;
      text-shadow: 0 0 3px blue;
    }
  }
  .bottom {
    min-width: 100px !important; 
    font-size:10px !important;
  }
  .date {
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-family: "Quantum";
    width: 100%;
    p {
      margin: 0 5px;
    }
  }
  
}

// .modal-content {
//   background-image: url("../../public/assets/contact.webp");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   color: white;
//   border: 2px solid navy;
//   .modal-header {
//     border: none;
    
//     h5 {
//       font-size: 35px;  
//     }
//   }
//   .modal-body {
//     padding: 2vmax;

//   }
//   .close {
//     color: white;
//     outline: none;
//   }
//   h5 {
//     font-weight: bold;
//     color: white;
//     text-shadow: 0 0 5px blue;
//   }
//   ol {
//     padding: 10px;
//     li {
//       padding: 10px;
//     }
//   }
// }

