:root {
    --width: 100vw;
    --full-width: 100vw;
    
    @media (min-width: 42em) {
      --width: 42rem;
    }
    
    --angle: -11deg;
    /*-----------------
    Magic Number Alert:
    
    the 0.09719 is calculated by this formula:
    tan(11°) / 2
    11° is the current skewY value.
    ------------------*/
    --magic-number: 0.09719;
    --skew-padding: calc(var(--width) * var(--magic-number));
    --clip-padding: calc(var(--full-width) * var(--magic-number));
  }
  
  .diagonal-box {
    position: relative;
    padding: var(--skew-padding) 0;
    margin-top: -2px;
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: skewy(var(--angle));
      transform-origin: 50% 0;
      outline: 1px solid transparent;
      backface-visibility: hidden;
    }
  }
 
  @mixin bgProps {
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    border-top: 2px solid white;
  }
  .bgAbout::before {
    background-image: url("../../public/assets/w1.jpg");
    @include bgProps;
    
  }
  .bg0::before {
    background-image: url("../../public/assets/about.jpg");
    @include bgProps;
  }
  
  .bg1::before {
    background-image: url("../../public/assets/CV.jpg");
    @include bgProps;
  }
  
  .bg2::before {
    background-image: url("../../public/assets/aurora1.jpg");
    @include bgProps;
  }
  .bg3::before {
    background-image: url("../../public/assets/test.jpg");
    @include bgProps;
    border-bottom: 4px solid white;
  }
  
  
  .content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: var(--width);
    margin: 0 auto;
    padding: 1.5em;
    position: relative;
    h1 {
      margin-bottom: 40px;
    }
  }
  
  .clip-path {
    position: relative;
    margin-top: calc( ( var(--clip-padding) * -1 ) - 2px );
    background-image: url("../../public/assets/bg1.webp");
    background-size: 101% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: calc( ( var(--clip-padding) * 2 ) - ( var(--clip-padding) - var(--skew-padding) ) ) 0 4em;
    clip-path: polygon(
      0% calc(var(--clip-padding) * 2), 
      100% 0%, 
      100% 100%, 
      0% 100% );
    -webkit-clip-path: polygon(
      0% calc(var(--clip-padding) * 2), 
      100% 0%, 
      100% 100%, 
      0% 100% );
  }
  

  
  