.title_bg {
	background: url('../../../public/4.jpg') no-repeat center top;
	background-size: cover;
	z-index: 9;
	box-shadow: 0 8px 32px 0 rgba(117, 95, 95, 0.767);
	.title {
		width: 100%;
		text-align: center;
		font-size: 3.3rem;
		padding: 0.2em 0 0.4em 0;
		text-transform: uppercase;
		// background: rgba(0, 0, 0, 0.315);
		color: rgba(255, 255, 255, 0.966);
		text-shadow: 1px 2px 7px rgb(0, 0, 0),
			-1px -1px 1px rgba(255, 255, 255, 0.473);
		word-wrap: break-word;
		mix-blend-mode: multiply;
		font-family: 'Quantum';
		letter-spacing: 15px;
	}
}

.container {
	background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	position: relative;
	z-index: 5;
	&:after {
		position: absolute;
		content: '';
		width: 300px;
		height: 300px;
		clip-path: polygon(
			0% 0%,
			0% 100%,
			25% 100%,
			25% 25%,
			75% 25%,
			75% 75%,
			25% 75%,
			25% 100%,
			100% 100%,
			100% 0%
		);
		top: 30%;
		right: 5%;
		z-index: -1;
		// background: rgba(131, 128, 153, 0.25);
		border-radius: 5px;
		background: linear-gradient(
			to right,
			rgb(11, 11, 230),
			rgba(28, 28, 194, 0)
		);

		// backdrop-filter: blur(10px);
	}
	&:before {
		position: absolute;
		z-index: -1;
		content: '';
		width: 17rem;
		height: 17rem;
		transform: rotate(45deg);
		left: 10%;
		background: white;
		clip-path: polygon(
			53% 0,
			0% 100%,
			35% 74%,
			55% 31%,
			55% 65%,
			77% 89%,
			42% 100%,
			100% 100%
		);
	}
}
@mixin inner_card {
	width: 500px;
	height: 260px;
	background: rgba(132, 129, 158, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.438);
	padding: 1.2em 1.5em;
	border-radius: 10px;
	transform: rotateY(45deg) skewY(-15deg);
	position: absolute;
	content: '';
	transition: 0.5s all ease-out;
	user-select: none;
}

.about_content {
	width: 70%;
	height: 100vh;
	// max-height: 700px;
	margin: 2em 0;
	background: rgba(132, 129, 158, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.438);
	backdrop-filter: blur(15px) contrast(110%) brightness(110%);
	border-radius: 30px;
	// mix-blend-mode: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	perspective: 1000px;
	transform-style: flat;
	position: relative;

	.about_objective {
		@include inner_card();
		top: 10%;
		right: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-size: 0.9em;
		color: white;
		border-radius: 10px;
		font-family: 'RussoOne';
		line-height: 1.5em;

		h5 {
			text-align: left;
			width: 100%;
			margin-bottom: 30px;
			font-size: 1.3rem;
			color: navy;
			filter: blur(4px);
		}
		p {
			text-align: center;
			filter: blur(3px);
		}
		span {
			color: navy;
		}
		&:hover {
			top: 4%;
			h5 {
				filter: blur(0);
				cursor: pointer;
			}
		}
		&:active {
			top: 50%;
			h5,
			p {
				filter: blur(0);
			}
		}
	}

	.about_studies {
		@include inner_card();
		top: 14%;
		right: 23%;
		background: rgba(132, 129, 158, 0.329);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-size: 0.9em;
		color: white;
		border-radius: 10px;
		font-family: 'RussoOne';
		line-height: 1.5em;
		h5 {
			text-align: left;
			width: 100%;
			margin-bottom: 30px;
			font-size: 1.3rem;
			color: navy;
			filter: blur(4px);
		}
		p {
			text-align: center;
			filter: blur(4px);
		}
		span {
			color: navy;
			a {
				color: blue;
				&:hover {
					color: black;
				}
			}
		}
		&:hover {
			top: 4%;
			h5 {
				filter: blur(0);
				cursor: pointer;
			}
		}
		&:active {
			top: 48%;
			h5,
			p {
				filter: blur(0);
			}
		}
	}
	.about_info {
		@include inner_card();
		background: rgba(132, 129, 158, 0.473);
		top: 18%;
		right: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: left;
		font-size: 1.3rem;
		color: navy;
		font-weight: 600;
		font-family: 'Iceland';
		line-height: 1.2em;

		p {
			margin: 0;
			span {
				color: rgb(189, 196, 255);
				text-shadow: 0px 0px 3px black;
			}
		}
	}
	.btn_download {
		display: flex;
		align-items: center;
		color: navy;
		margin-top: 1.2em;
		padding: 0.3em 0.5em;
		border-radius: 0.25em;
		font-size: 1rem;
		font-weight: 700;
		background: rgba(18, 72, 92, 0.38);
		border: none;
		font-family: 'Iceland';
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: white;
			background: rgba(18, 72, 92, 1);
		}
		svg {
			margin-right: 10px;
		}
	}
}
